<div id="navbar__outer">
  <div id="navbar__inner">
    <div id="logo">
      <div id="logo__text">
        <a href="/">
          <img src="/img/logo.png" alt="bug logo" class="logo" />
          ISSUE-TRACKER</a
        >
      </div>
    </div>
  </div>
</div>
